.review-input {
    display: flex !important;
    align-items: flex-start !important;
}

.review-entry {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    min-width: 0;
    text-align: left;
}